<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo-nav.jpg" alt="">
    <h1>Portal IronMedic</h1>
  </div>
  <div>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  </div>
</nav>
<section class="container-home-middle-section">

</section>

<footer class="footer-home">
  <p></p>
</footer>
