<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo.jpg" alt="">
    <h1>Portal IronMed</h1>
  </div>
  <div>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  </div>
</nav>
<section class="container-home-middle-section">

</section>

<footer class="footer-home">
  <p>Footer Portal IronMed</p>
</footer>
