body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 25px; }

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

a {
  color: #00B7FF; }

.nav-home {
  background-color: #81D5F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 110px; }

.nav-home a {
  list-style: none;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
  padding: 5px; }

.nav-left {
  display: flex;
  align-items: center;
  margin: 10px;
  align-items: space-between; }

.nav-home img {
  height: 90px;
  width: auto; }

.nav-home h1 {
  color: white; }

.container-home-middle-section {
  background-image: url("/images/imagem6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  opacity: 0.8; }

.footer-home {
  height: 15vh;
  width: 100%;
  background-color: #81D5F4; }

/* Login Page */
.container-login-middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 75vh; }

#form-login {
  margin: 30px auto;
  width: 380px; }

#form-login label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form-login input,
#form-login button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form-login button {
  background-color: #81D5F4;
  border: 1px solid #81D5F4;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#form-login button:hover {
  background: #fff;
  color: #81D5F4;
  transition: .3s ease background; }

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

/* Sign Up Page */
.container-sign-up {
  margin: 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("/images/img-form.png");
  border-radius: 4px; }

#form-sign-up {
  margin: 30px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

#form-sign-up label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  text-align: center;
  width: 20%;
  height: 25px; }

#form-sign-up h3 {
  display: block; }

#form-sign-up input,
#form-sign-up button {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  outline: 0;
  padding: 4px;
  width: 300px;
  height: 25px;
  margin-bottom: 20px; }

#form-sign-up {
  background-image: url("/images/img-form.png");
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

/* Dados Paciente Up Page */
.container-dados {
  margin: 30px 30px;
  display: flex;
  flex-direction: row;
  background-image: url("/images/img-form.png");
  border-radius: 4px; }

#form-dados-paciente {
  margin: 30px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#form-dados-paciente label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  text-align: center;
  width: 20%;
  height: 25px; }

#form-dados-paciente h3 {
  display: block; }

#form-dados-paciente input,
#form-dados-paciente button {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  outline: 0;
  padding: 4px;
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 4px; }

#form-dados-paciente {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background; }

.container-consultas-middle-section {
  height: 700px;
  display: flex;
  flex-direction: column;
  font-size: 20px; }

.container-consultas-middle-section table, td, tr {
  border: 1px solid black;
  text-align: center; }

.table-title td {
  font-weight: bold; }

.consulta-botao-detalhes-mais {
  background-image: url("/images/plus-square-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30px; }

.consulta-botao-detalhes-menos {
  background-image: url("/images/plus-square-soli.svg") !important; }

/*# sourceMappingURL=style.css.map */