<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo-nav.jpg" alt="">
    <h1>Portal IronMedic</h1>
  </div>
  <div>
    <a href="/home">Home</a>
    <a href="/agenda">Agenda</a>
    <a href="/consultas">Consultas</a>
    <a href="/dados">Dados</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
<section class="container-agenda-middle-section" role="PACIENTE" user="{{user._id}}" week="0">
  <button id='previous-week' type="button">Semana Anterior</button>
  <button id='next-week' type="button">Próxima Semana</button>
  <div class="wrapper">
  </div>
</section>

<footer class="footer-home">
  
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="/javascripts/agenda.js"></script>