<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo-nav.jpg" alt="">
    <h1>Portal IronMedic</h1>
  </div>
  <div>
    <a href="/home">Home</a>
    <a href="/agenda">Agenda</a>
    <a href="/consultas">Consultas</a>
    <a href="/dados">Dados</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
<section class="container-consultas-middle-section">
  <a href="/consultas/criar-consulta">Criar consulta</a>
  <h3>Consultas futuras</h3>
  <table>
    <tr class="table-title">
      <td>Data</td>
      <td>Hora</td>
      <td>Médico</td>
      <td>Descrição</td>
      <td>Exames</td>
      <td>Status</td>
    </tr>
    <tr>
      <td>25-04-2020</td>
      <td>15:00</td>
      <td>Dra. Selma Soriano</td>
      <td>Rotina</td>
      <td>Hemograma</td>
      <td>A Realizar</td>
    </tr>
  </table>
  <h3>Consultas realizadas</h3>
  <table>
    <tr class="table-title">
      <td>Data</td>
      <td>Hora</td>
      <td>Médico</td>
      <td>Descrição</td>
      <td>Exames</td>
      <td>Status</td>
    </tr>
    <tr>
      <td>25-04-2020</td>
      <td>15:00</td>
      <td>Dra. Selma Soriano</td>
      <td>Rotina</td>
      <td>Hemograma</td>
      <td>A Realizar</td>
    </tr>
      </table>
</section>

<footer class="footer-home">
  
</footer>
