<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo.jpg" alt="">
    <h1>Portal IronMed</h1>
  </div>
  <div>
    <a href="/home">Home</a>
    <a href="/agenda">Agenda</a>
    <a href="/consultas">Consultas</a>
    <a href="/dados">Dados</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
<section class="container-home-middle-section">
  <H1>CONSULTAS-MEDICO</H1>
</section>

<footer class="footer-home">

</footer>