<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo.jpg" alt="">
    <h1>Portal IronMed</h1>
  </div>
</nav>
<section class="container-login-middle-section">
  <div>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Please type the username">
    <input type="password" name="password" placeholder="Please type the password">

    <button type="submit">Login</button>

   </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
</section>

<footer class="footer-home">
  <p>Footer Portal IronMed</p>
</footer>






